.all{
  background-color:#EDEFEE;
}

@media (max-width:500px) {
  .dishes{
    
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  min-width:fit-content;
}
nav{
  display:flex;
  flex-direction: row;
  justify-content: center;
}


.flex{
  display:flex;
  row-gap: 15px;
  flex-direction: row;
}

li {
  margin: 15px;
  color:black;
  text-decoration: none;
  list-style: none;
  font-size: x-large;
  font-weight: 700;
}

a {text-decoration: none;}


.header{
  font-size: 16px;
  background-color: white;
}

.top{
  display: grid;
  background-color:#495E57;
  padding-left:5vw;
  width:100vw;
  height:33vh;
  grid-template-areas: "top-left top-right";
}

.top button{
  border-radius:16px;
  background-color:#F4CE14;
  color:black
}

.top h1{
  color: #F4CE14;
  font-family: "Markazi Text", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  font-size: 67px;
  margin:0px;
}

.top h2{
  font-family: "Markazi Text", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  margin:0px;
  color:#EDEFEE;
  position: relative;
  bottom:10px;
}

.top-p{
  width:17vw;
  height: 5vw;
}

.top-p p{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  color:#EDEFEE;
  font-size: 15px;
  text-wrap: wrap;
}

.top-right{
 grid-area:"top-right"
}

.top-right-img{
  position:relative;
  top:10vh;
  overflow: hidden;
  height: 17vw;
  width:15vw;
  border-radius: 10%;
  margin-left:12vw;
  margin-right:auto;
}

.top-right-img img{
  height:22vw;
  padding-left: auto;
  padding-right:auto;
}

.top-left{
  grid-area:"top-left"
}

button {
  cursor:pointer;
}

#reserve-button{
  position: relative;
  bottom:2vh;
  height:3vw;
  width:12vw;
  font-size: 20px;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}



.card-description{
  position:relative;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
}

.card-description p:nth-child(even){
  font-weight:bold;
}

.dishImage{
  top:0px;
  left:0px;
  border-radius:15px 15px 0px 0px;
  width:20vw;
}

.dishes{
  display:flex;
  justify-content: space-around;
  padding:2vw;
  grid-area: dishes;
  margin-top:auto;
  margin-bottom:auto;
}


#dishTitle h3{
  color:black;
  font-size:1em;
}

#dishTitle h3:nth-child(even){
  color:orange;
}

#dishTitle{
  display:flex;
  justify-content: space-between;
  padding-left:10px;
  padding-right:10px;
}

.card{
  height: 450px;
  width: 250px;;
  background-color: #EDEFEE;
  border:solid;
  border-color: black;
  border-radius: 15px;
}

.card img{
  width:inherit;
}

.card-footer{
  background-color: #F4CE14;
  border:solid;
  border-color: #282c34;
  border-width: 2px;
  border-radius: 16px;
  margin-top:5vh;
  height: 2vh;
  width:8vw;
  display: flex;
  justify-content: space-evenly;
}
.card-footer p{
  margin:0;
}


#logo{
  height:75px;
}
#dishSection{
  display:grid;
  margin-top:10vh;
  margin-bottom:10vh;
  grid-template-columns: 15vw auto 15vw;
  grid-template-rows:10vh 50vh;
  grid-template-areas:
  "dishSection-Title dishSection-Title dishSection-Title"
  "arrow-left dishes arrow-right";
}

#dishSection-Title{
  width:100vw;
  height: inherit;
  font-size: 2em;
  grid-area:dishSection-Title;
}

#dishSection-Title h1{
  margin-left:10vw;
  font-weight:bolder;
}


.arrow-left{
  grid-area:arrow-left;
  height:50px;
  width:50px;
  margin-top: auto;
  margin-left: auto;
  margin-right: 25px;
  margin-bottom: auto;
}

.arrow-right{
  grid-area:arrow-right;
  height:50px;
  width:50px;
  margin-top: auto;
  margin-left: 25px;
  margin-right: auto;
  margin-bottom: auto;
}

.Reviews{
  height:10vh;
  width:30vw;
  background-color: #EDEFEE;
  padding:0px;
  display:flex;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
}

.Feedback{
  display:block;
  width:inherit;
  height:inherit;
  flex-shrink: 0;
  flex-grow:0;
  transition:translate 300ms ease-in-out;
}

.Feedback p{
  margin-left:auto;
  margin-right:auto;
  width:inherit;
}

.caption{
  display:grid;
  grid-template-areas: "img"
                      "p";
  justify-content: center;
  background-color: #495E57;
  color:#EDEFEE
}

.caption p{
  grid-area:p;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.caption img{
  grid-area:img;
}

.Reviews {
  border:none;
}